<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link href="/static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <h2>View All Teachers</h2>
    <ul id="teachersList"></ul>
</div>

<div>
    <h2>View All Students</h2>
    <ul id="studentsList"></ul>
</div>

<div>
    <h2>View All Departments</h2>
    <ul id="departmentsList"></ul>
</div>

<div class="controlBtn">
    <button id="logoutBtn">Log Out</button>
    <button onclick="window.history.back()">Go to Back</button>
</div>

<script src="/static/js/users-all.js" th:src="@{/js/users-all.js}"></script>

</body>
</html>
